@rounded_corners: false;
@links: #000000;
@menu_links: #ffffff;
@menu: #479391;
@base: #ffffff;
@font: #000000;
@primary_button: #479358;
@danger_button: #e74c3c;
@secondary_button: #434343;
@sidebar: #666666;
@price: #000000;
@discount_label: #d69090;
@in_stock: #2ecc71;
@out_of_stock: #a80006;
@top_panel_links: #ffffff;
@top_panel_text: #ffffff;
@footer_text: #ffffff;
@decorative: #e3e3e3;

@general_bg_color: #ffffff;
@general_bg_repeat: repeat;
@general_bg_scroll: fixed;

@top_panel_bg: #f3f3f3;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #f3f3f3;

@header_bg: #ffffff;
@header_bg_full: false;
@header_bg_transparent: true;
@header_bg_grad_stop: #ffffff;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: true;

@footer_bg: #f3f3f3;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #f3f3f3;

@body_font: Open Sans;
@body_font_size: 14px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: Open Sans;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: bold;
@links_font: Open Sans;
@links_font_size: 14px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: Open Sans;
@price_font_size: 36px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: bold;
@buttons_font: Open Sans;
@buttons_font_size: 14px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;
@tertiary_button: #434343;

@general_bg_image: transparent;


/*GFONTS*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0d.woff) format('woff');
}

/*/GFONTS*/